[submodule "dashsync/crypto/secp256k1"]
	path = dashsync/crypto/secp256k1
	url = https://github.com/bitcoin-core/secp256k1.git
[submodule "platform"]
	path = platform
	url = https://github.com/dashevo/platform.git
