[submodule "dashsync/crypto/secp256k1"]
	path = dashsync/crypto/secp256k1
	url = https://github.com/bitcoin-core/secp256k1.git
[submodule "dapi-grpc"]
	path = dapi-grpc
	url = https://github.com/dashevo/dapi-grpc.git
