name: Lint

on:
  push:
    branches:
      - master
      - develop
      - nightly
  pull_request:
    branches:
      - master
      - develop

jobs:
  build:
    name: Objective-C Linter
    runs-on: macOS-latest
    steps:
      - name: Install automake
        run: |
          brew install automake
      - name: Checkout DashSync
        uses: actions/checkout@v2
        with:
          path: dashsync
          submodules: recursive
          lfs: true
      - name: Checkout LFS objects
        run: git lfs checkout
      - uses: actions/cache@v2
        with:
          path: ./dashsync/Example/Pods
          key: ${{ runner.os }}-pods-${{ hashFiles('**/Podfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-pods-
      - name: Dependencies
        working-directory: ./dashsync/Example
        run: pod install
      - name: Install OCLint
        run: |
          brew tap oclint/formulae
          brew install oclint
      - name: Lint
        working-directory: ./dashsync/Example
        run: |
          sh run_oclint.sh
      - name: Check Lint
        working-directory: ./dashsync/Example
        run: |
          sh check_lint.sh

